        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* Makes sure padding and border are included in the element's total width/height */
        } 
       body{
            margin: 0;
            background-color: aqua;
        }
        button{
            all: unset;
            display: inline;
            cursor: pointer;
        }

        nav{
            padding-right: 10px;
            display: flex;
            justify-content: flex-end;
            width: 80%;
            background-color: #2C2F48;
            float: right;
          
        }

        .nav-icons{
            display: flex;
            flex-direction: row;
            gap:50px;
            padding: 10px 0 10px 15px;
            border-left: 1px solid rgba(255, 255, 255, 0.4); 
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }

       
    
