        :root{

          --background-color: #F8F8FF ;
          --nav-color: #CDC1FF;
          --text-color: #000;
          --accent-color: linear-gradient(to bottom, #A294F9, #E5D9F2);
          --shadow-color: #CDC1FF;
          --semi-transparent: rgba(162, 148, 249, 0.5);
          --line-color: rgba(0, 0, 0, 0.4);
        }
        .darkmode{
          --background-color: #1D203E;
          --nav-color: #2C2F48;
          --text-color: #fff;
          --accent-color: linear-gradient(to bottom, #5E4E91, #816E9D);
          --shadow-color: #816E9D;
          --semi-transparent: rgba(129, 110, 157, 0.5);
          --line-color: rgba(255, 255, 255, 0.4);
        }

        * {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* Makes sure padding and border are included in the element's total width/height */
            
        } 

       a{
        text-decoration: none;
        color: var(--text-color);
       }

       html{
        scroll-behavior: smooth;
       }

       body{
            margin: 0;
            color: var(--text-color);
            background-color: var(--background-color); /*adjusted the background color to match the nav bar*-- no you need a bit of contrast my man*/
            overflow-x:hidden;
          }
        button{
            all: unset;
            display: inline;
            cursor: pointer;
        }



        .sidebar{
          z-index: 99999;
          display: flex;
          position: fixed;
          width: 15%;
          height:100vh;   
          justify-content: flex-start;
          background: var(--accent-color);
          float: left;
          flex-direction: column;
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
          margin-right: 40px;


        }
          
          .sidebar-title {
            display:inline-flex;
            flex-direction: row;
            margin-top: 18px;
            padding-left: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--line-color);
            padding-bottom: 10px;
          }

          .sidebar-title p{
            padding-top:10px ;
            padding-left: 10px;
          }
          
          
          .sidebar-menu {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          
          .menu-item svg{
            padding-top: 5px;
          }

          .menu-item {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            margin: 0 10px;
            cursor: pointer;
            transition: background 0.3s ease;
          }
          
          .menu-item .nicon {
            margin-right: 10px;
            font-size: 1.2rem;
          }
          
          .menu-item:hover {
            background: rgba(48, 41, 91, 1);
            border-radius: 5px;
            padding-left: 10px;
          }
          

          .discover{
            display:inline-flex;
            flex-direction: row;
            padding: 20px;
            margin-left: 16%;
          }

          .discover svg{
            margin-right: 15px;
          }

          .titles{
            margin-left: 18%;
            padding: 32px 0;
            display: flex;
          }


          .titles svg{
            fill: var(--shadow-color);
            margin-right: 15px;
          }

          .titles h2{
            padding: 5px 0;
          }

          .wrapper{
            
            display: flex;
            flex-direction: row;
            max-width: 100%;
            overflow-x: auto;
            margin-left: 18%;
          }
          
          .list-of-genres{
           height:400px;
           display: flex;
           flex-wrap: nowrap;
           justify-content: start;
           max-width: 100%;
           overflow-x: auto;
           flex-wrap: wrap;
          }
          
          .genre{
            width: 300px;
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid var(--base-variant);
            box-shadow: 2px 2px 5px 0px var(--shadow-color);
            cursor:pointer;
            display: flex;
            align-items: flex-end;
            margin: 8px;
            background-position: center; 
            background-size: cover; 
            background-repeat: no-repeat; 
          }
          
          .row{
            background-color: var(--semi-transparent);
          }
          
          .genre >.row{
            color: var(--text-color);
            display: flex;
            flex-wrap: nowrap;
          }
          
          
          .genre > .row > .description{
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            height: 30px;
            width: 325px;
            opacity: 1;
            margin-left: 10px;
          }
          
          .description p{
            padding-top: 5px;
            line-height: 1;
            font-size: .9rem;
          }
          
          .description h4{
            text-transform: uppercase;
          }

          .list-of-genres input{
            display: none;
          }
          
          .list-of-genres input:checked + label {
           transform: scale(1.03);
           box-shadow: 0 0 5px var(--shadow-color);
          }
          
          
          .genre[for="c1"] {
            background-image: url('/img/rock.jpg');
          }
          .genre[for="c2"] {
            background-image: url('/img/pop.jpg');
          }
          .genre[for="c3"] {
            background-image: url('/img/arabic.jpg');
          }
          .genre[for="c4"] {
            background-image: url('/img/indie.jpg');
          }
          .genre[for="c5"] {
            background-image: url('/img/electronic.jpg');
          }
          .genre[for="c6"] {
            background-image: url('/img/hip-hop.jpg');
          }


          .top-music{
            padding: 20px;
            padding-top: 30px;
            display:inline-flex;
            flex-direction: row;
            margin-left: 16%;
          }

          .top-music svg{
            margin-right: 15px;
          }
                

        .image-container {
          padding-top: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
        }

        .user-info {
          position: relative;
          width: 100%;
          text-align: center;
          padding-bottom: 12px;
          border-bottom: 1px solid var(--line-color);

        }

        .usersubs {
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0 5px;
        }

        .uemail {
          font-size: 14px;
          color: #888;
        }

        .profile-img{
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          animation: pulse 4s infinite ease-in-out;
        }

        .profile-img img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        @keyframes pulse {
          0% {
            box-shadow: 0 0 10px #5d5dff, 0 0 20px #5d5dff, 0 0 40px rgba(93, 93, 255, 0.6);
          }
          50% {
            box-shadow: 0 0 20px #00d1ff, 0 0 40px #00d1ff, 0 0 60px rgba(0, 209, 255, 0.6);
          }
          100% {
            box-shadow: 0 0 10px #5d5dff, 0 0 20px #5d5dff, 0 0 40px rgba(93, 93, 255, 0.6);
          }
        }
        
        .awrapper{
          display: flex;
          flex-direction: row;
          max-width: 100%;
          overflow-x: auto;
          margin-left: 18%;
        }
        
        .artists{
         margin-left: 24px ;
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         max-width: 100%;
         overflow-x: auto;
         flex-wrap: wrap;
         gap:16px
        }
        
        .artist{
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid var(--base-variant);
          box-shadow: 2px 2px 5px 0px var(--shadow-color);
          cursor:pointer;
          display: flex;
          align-items: flex-end;
          margin: 8px;
          background-position: center; 
          background-size: cover; 
          background-repeat: no-repeat; 
        }
        
        .artist-row{  
          background-color: var(--semi-transparent);
        }
        
        .artist >.artist-row{
          color: var(--text-color);
          display: flex;
          flex-wrap: nowrap;
        }
        
        
        .artist > .artist-row > .artist-subs{
          display: flex;
          justify-content: center;
          overflow: hidden;
          height: 30px;
          width: 140px;
          opacity: 1;
          margin-left: 10px;
        }
        
        .artist-subs p{
          padding-top: 5px;
          line-height: 1;
          font-size: .7rem;
        }

        .artist-name{
          display: flex;
          flex-direction: column; /* Ensures content stacks vertically */
          align-items: center; /* Centers the text horizontally */
          justify-content:center; /* Centers the text vertically */
          width: 100%; /* Spans full width of the parent */
          overflow: hidden;
          height: auto; /* Adjust height to fit content */
          margin-left: 0; /* Remove left margin for proper centering */
        }

        .artists input{
          display: none;
        }
        
        .artists input:checked + label {
         transform: scale(1.03);
         box-shadow: 0 0 5px var(--shadow-color);
        }
        
        .artist[for="d1"] {
          background-image: url('/img/kendrick_lamar.jpg');
        }
        .artist[for="d2"] {
          background-image: url('/img/queen.jpg');
        }
        .artist[for="d3"] {
          background-image: url('/img/radiohead.jpg');
        }
        .artist[for="d4"] {
          background-image: url('/img/kid_cudi.jpg');
        }
        .artist[for="d5"] {
          background-image: url('/img/Ziad_rahbani.jpg');
        }

        .toggle-hover {
          position: relative;
          border-bottom: 1px dotted var(--background-color);
        }
        
        .toggle-hover:before {
          content: attr(data-hover);
          visibility: hidden;
          opacity: 0;
          width: auto;
          background-color: var(--semi-transparent);
          color: var(--text-color);
          text-align:end;
          border-radius: 5px;
          padding: 5px 5px;
          transition: opacity 1s ease-in-out;
          position: absolute;
          z-index: 1;
          float: right;
          top: 110%;
          
        }
        
        .toggle-hover:hover:before {
          opacity: 1;
          visibility: visible;
        }


        
        .slider-container {
          position: relative;
          width: 70%;
          max-height: 350px;
          margin-left:20%;
          overflow: hidden;
          border-radius: 15px;
          box-shadow: 0 10px 20px var(--shadow-color);
      }
      
      .slider {
          display: flex;
          transition: transform 1s ease-in-out;
      }
      
      .slide {
          min-width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 20px;
          padding: 20px;
          box-sizing: border-box;
      }
      
      .slide img {
          height: 100%;
          width: 35%;
          background-position: center; 
          background-size: cover; 
          background-repeat: no-repeat; 
          border-radius: 10px;
          box-shadow: 0 5px 10px var(--shadow-color);
      }
      
      .slide-text {
          height: 100% ;
          flex: 1;
          background-color: var(--semi-transparent);
          padding: 10px 20px;
          border-radius: 10px;
          color: var(--text-color);
          font-size: 1.2rem;
          box-shadow: 0 5px 10px var(--shadow-color);
          text-align:end;
          padding-top: 100px;
      }
      
      @media (max-width: 768px) {
          .slide {
              flex-direction: column;
          }
      
          .slide img, .slide-text {
              max-width: 90%;
          }
      }
      
      .slider-controls {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          display: flex;
          justify-content: space-between;
      }
      
      .control-btn {
          background-color: var(--semi-transparent);
          border: none;
          padding: 10px 20px;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 5px 10px var(--shadow-color);
          transition: transform 0.3s;
      }
      
      .control-btn:hover {
          transform: scale(1.2);
      }
      
      .control-btn:active {
          transform: scale(0.9);
      }
      
      
      .slider span {
          display: flex;
          align-items: center; 
      }
            
      .slider svg {
          margin-right: 8px;
          color: var(--text-color); 
      }





      :root{

        --background-color: #F8F8FF ;
        --nav-color: #CDC1FF;
        --text-color: #000;
        --accent-color: linear-gradient(to bottom, #A294F9, #E5D9F2);
        --shadow-color: #CDC1FF;
        --semi-transparent: rgba(162, 148, 249, 0.5);
        --line-color: rgba(0, 0, 0, 0.4);
      }
      .darkmode{
        --background-color: #1D203E;
        --nav-color: #2C2F48;
        --text-color: #fff;
        --accent-color: linear-gradient(to bottom, #5E4E91, #816E9D);
        --shadow-color: #816E9D;
        --semi-transparent: rgba(129, 110, 157, 0.5);
        --line-color: rgba(255, 255, 255, 0.4);
      }
    
    
    
    
    .music-player-section{
        margin-left: 15%;
        width: 85%;
        height: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: var(--accent-color);
        backdrop-filter: blur(50px);
        transition: 1s;
    }
    
    .music-seek-bar{
        appearance: none;
        width: 100%;
        position: absolute;
        top: -4px;
        height: 8px;
        background: var(--accent-color);
        overflow: hidden;
    }
    
    .music-seek-bar::-webkit-slider-thumb{
        appearance: none;
        height: 10px;
        width: 5px;
        background: var(--accent-color);
        cursor: pointer;
        box-shadow: -400px 0 0 400px var(--accent-color);
    }
    
    .current-song-name{
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
        text-transform: capitalize;
    }
    
    
    
    .controls{
        position: relative;
        width: 100%;
        margin: auto;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        font-size: 30px;
    }
    
    .controls span{
        display: none;
        opacity: 0;
        margin-left: 32px;
        transition: 1s;
    }
    
    .music-player-section.active .controls{
        justify-content: space-between;
    }
    
    .music-player-section.active .controls span{
        font-size: 25px;
        display: block;
        opacity: 0.5;
    }
    
    .music-player-section.active .controls span.active{
        color: var(--primary-color);
        opacity: 1;
    }
    
    .controls .main i{
        margin: 0 5px;
        display: none;
    }
    
    .controls .main i.active{
        display: inline;
    }
    
    /* maximize music player styles */
    
    
    .music-player-section .hide{
        display: none;
        opacity: 0;
        transition: 1s;
    }
    
    .music-player-section.active .hide{
        display: block;
        opacity: 1;
    }
    
    .music-player-section.active{
        margin-left: 15%;
        width: 85%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .music-player-section.active .music-seek-bar{
        position: relative;
        display: block;
        border-radius: 50px;
        margin: auto;
    }
    
    .music-player-section.active .current-song-name{
        font-size: 40px;
    }
    
    .music-player-section.active .controls{
        width: 100%;
        font-size: 50px;
    }
    
    .current-artist-name{
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
    }
    
    .cover{
        width: 30vh;
        height: 30vh;
        object-fit: cover;
        margin: auto;
        border-radius: 20px;
        box-shadow: var(--shadow);
    }
    
    .current-time{
        position: absolute;
        margin-top: 5px;
        left: 30px;
    }
    
    .duration{
        position: absolute;
        margin-top: 5px;
        right: 30px;
    }
    
    .icon{
        position: absolute;
        top: 60px;
        transform: scale(1.3);
    }
    
    .back-btn{
        left: 40px;
    }
    
    .nav-btn{
        right: 40px;
    }
    
    /* volume button */
    
    .volume-slider{
        appearance: none;
        width: 150px;
        height: 10px;
        position: absolute;
        right: 35px;
        bottom: 35px ;
        transform: rotate(-180deg);
        border-radius: 20px;
        background: var(--background-color);
        overflow: hidden;
        opacity: 0;
        display: none;
    }
    
    .volume-slider.active{
        opacity: 1;
        display: block;
    }
    
    .volume-slider::-webkit-slider-thumb{
        appearance: none;
        height: 40px;
        width: 10px;
        background: var(--background-color);
        box-shadow: -200px 0 1px 200px var(--shadow-color);
    }
    
    
    .playlist{
        width: 85%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 30px 0;
        background: var(--background-color  );
        z-index: 3;
        transition: 1s;
        overflow: auto;
        margin-left: 20%;
    }
    
    .playlist.active{
      margin-left: 20%;
      right: 0;
    }
    
    .title{
        font-weight: 300;
        font-size: 40px;
        text-align: center;
        margin-top: 15px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    
    .queue{
        margin: auto;
        width: 80%;
        height: 80px;
        padding: 0;
        display: flex;
        align-items: center;
        border-top: 2px solid var(--line-color);
    }
    
    .queue-cover{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 20px;
        position: relative;
    }
    
    .queue-cover img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .queue-cover i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: var(--primary-color);
        display: none;
    }
    
    .queue.active i{
        display: block;
    }
    
    .queue .name{
        font-size: 22px;
        text-transform: capitalize;
    }

    @media screen and (min-width: 200px) and (max-width: 430px) {

      html, body{
        overflow-x: hidden;
      }
      .sidebar{
        display: none;
      }

      .current-artist-name{
        display: none;
      }

      .list-of-genres{
        height:300px;
        flex-direction: column;
        width: 100%;
       }

      .genre{
        height: 120px;
        width: 150px;
        display: flex;
        align-items: flex-end;
        

      }

      .awrapper{
        height: 150px;
        flex-direction: column;
        width: 100%;
        margin-left: 10%;
      }
      
      .artists{
       flex-direction: column;
       margin-left: 16px ;
       gap:16px
      }
      
      .artist{
        width: 100px;
        height: 100px;
      }

      .artist > .artist-row > .artist-subs{
        height: 20px;
        width: 80px;
      }

      .artist-subs p{
        padding-top: 5px;
        font-size: .4rem;
      }

      .discover{
        padding-top: 5%;
        margin-left: 5%;
      }

      .music-player-section{
        margin:0;
        padding: 0;
        width: 100%;
        height: 80px;
        overflow: hidden;
        position: fixed;
    }

    .top-music{
      padding: 20px;
      padding-top: 30px;
      margin-left: 5%;
    }

    .music-player-section.active{
      margin-left: 0;
      width: 100%;
  }
  .music-player-section.active .current-song-name{
    font-size: 20px;
  }

  .music-player-section.active .controls{
    width: 100%;
    font-size: 40px;
    margin: 20px 10px;
    justify-content: space-between;
}

.back-btn{
  left: 30px;
  height: 10px;
}

.nav-btn{
  right: 30px;
  height: 10px;
}

.playlist{
  width: 100%;
  top: 0;
  padding: 80px 0 10px 30px;
}

.volume-slider{
  width: 75px;
  height: 10px;
  position: absolute;
  right: -48px;
  bottom: 65px ;
  transform: rotate(90deg);
  border-radius: 20px;
  background: var(--background-color);
  overflow: hidden;
  opacity: 0;
  display: none;
}
    
     
}
    
    
    
    