:root{

    --background-color: #E5D9F2 ;
    --nav-color: #CDC1FF;
    --text-color: #000;
    --accent-color: linear-gradient(to bottom, #A294F9, #E5D9F2);
    --shadow-color: #CDC1FF;
    --semi-transparent: rgba(162, 148, 249, 0.5);
  }
  .darkmode{
    --background-color: #1D203E;
    --nav-color: #2C2F48;
    --text-color: #fff;
    --accent-color: linear-gradient(to bottom, #5E4E91, #816E9D);
    --shadow-color: #816E9D;
    --semi-transparent: rgba(129, 110, 157, 0.5)
  }


* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes sure padding and border are included in the element's total width/height */
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--nav-color); /* Background color */
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background:var(--background-color); /* Container background color */
    padding: 24px;
}
  .back{
    display: flex;
    gap: 12px;
  }

  .back svg{
    fill:var(--text-color);
  }

  .settings-text{
    padding: 12px;
  }


  .btn input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .btn label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 40px;
    position: relative; 
  }
  
  .btn label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: var(--background-color);
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .btn input:checked + label {
    background: var(--accent-color);
  }
  
  .btn input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  .btn label:active:after {
    width: 100px;
  }

  .btn{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
  }

  .btn p{
    padding: 12px;
  }

  .main-txt{
    width: 120px;
  }

  .select-drop{
    display: flex;
    flex-direction: row ;
  }

  .select-drop p{
    padding: 32px 8px;
  }


  select {
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
  }
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: min(20rem, 90vw);
    background: var(--nav-color);
    border-radius: 0.25rem;
    overflow: hidden;
    margin-top:18px;
  }
    select {
      flex: 1;
      padding: 18px;
      cursor: pointer;
    }
    
    .select::after {
      content: "\25BC";
      position: absolute;
      right: 1rem;
      top: 1rem;
      transition: 1s all ease;
      pointer-events: none; 
    }
   
    .select:hover::after {
      color: var(--shadow-color);
      animation: bounce 0.5s infinite;
    }
  
  @keyframes bounce {
    25% {
      transform: translatey(5px);
    }
    75% {
      transform: translatey(-5px);
    }
  }

  .documentation a{
    color: var(--text-color);
    opacity: 0.5;
    text-decoration: none;
  }

  .btn-div button{
    padding: 16px;
    margin: 0 150px 0 0;
    background-color: var(--shadow-color);
    border-color: var(--semi-transparent);
    border-radius: 20px;
    cursor: pointer;
    
  }

  .btn-div button:hover{
    background-color: var(--nav-color);
    color: var(--semi-transparent);
    border-color: var(--shadow-color);
    scale: 1.05;
  }


  