:root{

    --background-color: #F8F8FF ;
    --nav-color: #CDC1FF;
    --text-color: #000;
    --accent-color: linear-gradient(to bottom, #A294F9, #E5D9F2);
    --shadow-color: #CDC1FF;
    --semi-transparent: rgba(162, 148, 249, 0.5);
    --line-color: rgba(0, 0, 0, 0.4);
  }
  .darkmode{
    --background-color: #1D203E;
    --nav-color: #2C2F48;
    --text-color: #fff;
    --accent-color: linear-gradient(to bottom, #5E4E91, #816E9D);
    --shadow-color: #816E9D;
    --semi-transparent: rgba(129, 110, 157, 0.5);
    --line-color: rgba(255, 255, 255, 0.4);
  }

  * {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: 0;
      padding: 0;
      box-sizing: border-box; /* Makes sure padding and border are included in the element's total width/height */
      
  } 

 a{
  text-decoration: none;
  color: var(--text-color);
 }

 html{
  scroll-behavior: smooth;
 }

 body{
      margin: 0;
      color: var(--text-color);
      background-color: var(--background-color); /*adjusted the background color to match the nav bar*-- no you need a bit of contrast my man*/
      overflow-x:hidden;
    }
  button{
      all: unset;
      display: inline;
      cursor: pointer;
  }



  .sidebar{
    z-index: 99999;
    display: flex;
    position: fixed;
    width: 15%;
    height:100vh;   
    justify-content: flex-start;
    background: var(--accent-color);
    float: left;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    margin-right: 40px;


  }
    
    .sidebar-title {
      display:inline-flex;
      flex-direction: row;
      margin-top: 18px;
      padding-left: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid var(--line-color);
      padding-bottom: 10px;
    }

    .sidebar-title p{
      padding-top:10px ;
      padding-left: 10px;
    }
    
    
    .sidebar-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .menu-item svg{
      padding-top: 5px;
    }

    .menu-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin: 0 10px;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    
    .menu-item .icon {
      margin-right: 10px;
      font-size: 1.2rem;
    }
    
    .menu-item:hover {
      background: rgba(48, 41, 91, 1);
      border-radius: 5px;
      padding-left: 10px;
    }
    

          

  .image-container {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .user-info {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--line-color);

  }

  .usersubs {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
  }

  .uemail {
    font-size: 14px;
    color: #888;
  }

  .profile-img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulse 4s infinite ease-in-out;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px #5d5dff, 0 0 20px #5d5dff, 0 0 40px rgba(93, 93, 255, 0.6);
    }
    50% {
      box-shadow: 0 0 20px #00d1ff, 0 0 40px #00d1ff, 0 0 60px rgba(0, 209, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 10px #5d5dff, 0 0 20px #5d5dff, 0 0 40px rgba(93, 93, 255, 0.6);
    }
  }
  
  


  .footer {
    z-index: 99999;
    position: fixed; height: 72px;
    bottom: 0; left: 0; right: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--semi-transparent);
  }
  
  .fleft {
    display: flex; align-items: center;
  }
  
  .leftarrow {
    margin-left: 15px; height: 22px;
    margin-right: 30px; padding-top: 2px;
  }
  
  .play-btn {
    height: 35px;
    margin-right: 30px;
  }
  .rightarrow {
    height: 19px; padding-bottom: 1px;
    margin-right: 20px;
  }
  
  .ftime {
    color: var(--line-color);
    font-size: 13px;
  }
  
  .fright {
    display: flex; align-items: center;
  }
  
  .volume {
    height: 25px;
  }
  
  .repeat {
    height: 25px; margin-left: 20px;
  }
  
  .shuffle {
    height: 25px; margin-left: 20px;
  }
  
  .triangle {
    height: 30px; 
    margin-right: 12px;
    margin-left: 26px;
    margin-bottom: 20px;
  }
  
  .fmid {
    display: flex; align-items: center;
  }
  
  .fthumbnail {
    height: 40px;
    margin-right: 16px;
  }
  
  .frowa {
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
  }
  
  .frowb {
    color: var(--line-color);
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 3px;
  }
  
  .dislike {
    height: 21px;
    margin-left: 15px;
  }
  
  .like {
    height: 21px;
    margin-left: 18px;
    margin-right: 25px;
  }
  
  .fthreedots {
    height: 21px;
  }
  
  
  .playlist{
    padding-left: 20%;
  }
  .playlist-text{
    text-align: center;
    color: var(--text-color);
    padding-top: 32px;
  }

  .song li{
    border-bottom: 2px solid var(--semi-transparent);
  }

  .time{
    margin-top: 32px;
    color: var(--semi-transparent);
    margin-left: 16px;
    margin-right: -32px;
  }

  .song-name{
    position: inherit;
  }

  .song img{
    width: 50px;
    height: 50px;
  }

